<% provide(:head_title, t('views.document.links.preview')) %>


<div class='not-print'>
  <div id='sidebar'>
    <div>
      <span class="text-color-default" id="print-message">
        <%= link_to users_documents_path do %>
          <%= icon('fa', 'arrow-left', class: 'icon', data: {toggle: 'tooltip'}, title: t('views.links.back')) %>
        <% end %>
        <%= t('views.document.print_label') %>
      </span>
    </div>

    <button onclick="javascript:window.print();" class="text-color-default" id="print-button">
      <span class="fa fa-print fa-2x"> </span>
    </button>

    <span class="clearfix"></span>
  </div>
</div>

  <div class="print-area">
    <div class="col-12">
      <%= image_tag 'documents/top-document.png', class: 'w-100', alt: 'UTFPR' %>
    </div>
    <div class="row pl-4">
      <div class="col-sm-2">
        <%= image_tag 'documents/left-document.png', class: 'w-100', alt: 'UTFPR' %>
      </div>
      <div class="col-10">
        <%== @document.front_text %>
      </div>
    </div>
  </div>

  <div class="print-area">
    <div class="col-12">
      <%= image_tag 'documents/top-document.png', class: 'w-100', alt: 'UTFPR' %>
    </div>
    <div class="row pl-4">
      <div class="col-sm-2">
        <%= image_tag 'documents/left-document.png', class: 'w-100', alt: 'UTFPR' %>
      </div>
      <div class="col-10">
        <%== @document.back_text %>
      </div>
    </div>
  </div>