<tr>
    <td><%= department.id %></td>
    <td><%= department.name %></td>
    <td><%= department.description %></td>
    <td><%= department.initials %></td>
    <td><%= department.local %></td>
    <td><%= department.phone %></td>
    <td><%= department.email %></td>
    <td><%= link_to 'Show', admins_department_path(department) %></td>
    <td><%= link_to 'Edit', edit_admins_department_path(department) %></td>
    <td><%= link_to 'Destroy', admins_department_path(department) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>