<%= simple_form_for([:admins, @department]) do |f| %>
  
  <div class="form-group">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :initials %>
    <%= f.input :local %>
    <%= f.input :phone %>
    <%= f.input :email %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
