<%= simple_form_for([:admins, @department]) do |f| %>

<div class="card-body">
  <div class="row">
    <div class="col-md-6">
        <%= f.input :name %>
    </div>
    <div class="col-sm-2">
        <%= f.input :initials %>
    </div>
    <div class="col-sm-4">
         <%= f.input :phone %>
    </div>
    <div class="col-sm-6">
        <%= f.input :local %>
    </div>
    <div class="col-sm-6">
       <%= f.input :email %>
    </div>
    <div class="col-sm-12">
       <%= f.input :description %>
    </div>
    <div class="col-sm-12">
      <div class="form-actions">
        <%= f.button :submit, t('simple_form.buttons.save'), class: 'btn btn-success ml-auto' %>
        <%= link_to t('activerecord.attributes.attribute_commons.turn_back'), admins_departments_path, class: 'btn btn-danger ml-auto' %>
      </div>
    </div>
  </div>
</div>
<% end %>
