
<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @department.description %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @department.initials %>
</p>

<p>
  <strong>Local:</strong>
  <%= @department.local %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @department.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @department.email %>
</p>


  <ul>
    <%= render 'admins/department_modules/form' %>
  </ul>
    <h2>Módulos</h2>
  
  <table>
  <thead>
    <tr>
      <th>Departments</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

    <tbody>
      <%= render partial: 'admins/department_modules/department_modules', @department.modules %>
    </tbody>
  </table>

<%= link_to 'Edit', edit_admins_department_path(@department) %> |
<%= link_to 'Back', admins_departments_path %>
