<%= simple_form_for([:admins, @audience_member]) do |f| %>
   
  <%= f.input :name, required: true, autofocus: true %>
  <%= f.input :email, required: true, type: 'email' %>
  <%= f.input :cpf, required: true, :input_html => {'data-mask': '000.000.000-00'} %>

  <div class="form-footer">
    <%= link_to admins_audience_members_path, class: 'btn btn-secondary' do %>
      <%= t('views.links.back') %>
    <% end %>

    <%= f.button :submit,
      t('simple_form.buttons.save'), class: 'btn-primary ml-auto' %>
  </div>
<% end %>
