<% provide(:head_title, I18n.t('activerecord.models.audience_member.other')) %>
<% provide(:page_title, I18n.t('activerecord.models.audience_member.other')) %>

<%= simple_form_for(:import_file, url: admins_audience_members_import_path, method: :post) do |f| %>
  <div class="row">
  
    <%= f.input :file, as: :choose_file, :label => false, :required => true, wrapper_html: { class: 'col-sm-6' } %>

    <div class="col-sm-3">
      <%= button_tag type: 'submit', class: 'btn btn-outline-primary btn-block' do %>
        <i class="fe fe-user-plus"></i> <%= t('views.audience_member.import.btn_import')%>
      <% end %>
    </div>

    <div class="col-sm-3">
      <%= link_to "/import_audience_members.csv", class: "btn btn-outline-primary btn-block" do %>
        <%= icon('fas', 'download', class: 'mr-2') %><%= t('views.audience_member.import.btn_download_sample_file') %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @errors.length > 0 %>

<div class="col-12">
  <div class="card">
    <div class="card-status bg-red"></div>
    <div class="card-header">
      <h3 class="card-title"><%= I18n.t('views.audience_member.import.errors') %></h3>
      <div class="card-options">
        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
        <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
      </div>
    </div>
    <div class="card-body">
      <ul>
        <% @errors.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>
