<tr>
    <td><%= link_to department.initials, users_department_path(department) %></td>
    <td><%= department.name %></td>
    <td><%= department.local %></td>
    <td><%= department.phone %></td>
    <td><%= department.email %></td>
    
    <td>
     <%= t("enums.roles.#{department.department_users.find_by(user_id: current_user.id).role}") %>
    </td>
    <td>
      <%= link_to users_department_members_path(department) do %>
          <%= icon('fas', 'users', class: 'icon', data: { toggle: 'tooltip' }, title: t('views.user.name.plural')) %>
      <% end %>
    </td>
</tr>
